@media screen and (min-width: 721px) {
  .navBar {
    /* border: 1px solid red; */
    position: sticky;
    top: 0vw;
    background: #7D3668;
    height: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
  }

  .navImgOut {
    /* position: absolute; */
    /* top: 0vw; */
    /* left: 1vw; */
    height: 3vw;
    width: 7vw;
    /* width: 4vw; */
    background: white;
    /* border: 0.1vw solid white; */
    padding: 0.1vw 0.5vw;
    border-radius: 1vw;
    margin-left: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
  }

  .navImgOut:hover{
    opacity: 0.85;
  }

  .navImgOut:active{
    filter: blur(0.1vw);
  }

  .navImg {
    height: 100%;
    width: 100%;
    filter: drop-shadow(0.1vw 0.1vw 0.01vw rgba(0, 0, 0, 0.8));
  }
  #sideBarText3:hover{
    cursor: pointer;
  }
  .navBtnCont {
    /* border: 1px solid yellow; */
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 0.5vw;
  }

  .navBtn {
    background: none;
    outline: none;
    border: 0.1vw solid rgba(255, 255, 255, 0.301);
    color: white;
    padding: 0.2vw 0.5vw;
    font-size: 1.2vw;
    border-radius: 0.7vw;
    font-weight: bold;
    margin: 0vw 0.5vw;
    text-decoration: none;
    cursor: pointer;
  }

  .hamburgerBtn{
    display: none;
  }

  .navBtn:hover {
    border: 0.1vw solid black;
    background: white;
    color: black;
    text-decoration: none;
  }

  .navBtn:active {
    filter: blur(0.1vw);
  }

  #google_translate_element select {
    outline: none;
    border: 0.1vw solid rgba(196, 186, 186, 0.301);
    color: white;
    padding: 0.2vw 0.5vw;
    font-size: 1.2vw;
    border-radius: 0.7vw;
    font-weight: bold;
    margin: 0vw 0.5vw;
    cursor: pointer;
    background: none;
  }

  #google_translate_element select:hover {
    border: 0.1vw solid black;
    background: white;
    color: black;
  }

  #google_translate_element select:active {
    filter: blur(0.1vw);
  }

  #google_translate_element select option {
    color: black;
  }

  #google_translate_element .goog-logo-link {
    display: none;
  }

  #google_translate_element .goog-te-gadget {
    font-size: 0vw;
  }

  .moreOptionsOutMobile{
    display: none;
  }
}













@media screen and (max-width: 720px) {
  .navBar {
    /* border: 1px solid red; */
    position: sticky;
    top: 0vw;
    width: 100vw;
    background: #7D3668;
    height: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
  }

  .navImgOut {
    /* position: absolute; */
    /* top: 0vw; */
    /* left: 1vw; */
    height: 9vw;
    width: 22vw;
    background: white;
    /* border: 0.1vw solid white; */
    padding: 0.5vw 2vw;
    border-radius: 3vw;
    margin-left: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .navImg {
    /* position: absolute;
  top: 0.1vw;
  left: 0.5vw; */
    /* height: 2.8vw; */
    height: 100%;
    width: 100%;
    filter: drop-shadow(0.1vw 0.1vw 0.01vw black);
  }

  .navBtnCont {
    /* border: 1px solid yellow; */
    /* position: relative; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 2vw;
    /* width: 3vw;
    height: 3vw; */
  }

  .navBtn {
    display: none;
  }

  #google_translate_element select {
    outline: none;
    border: 0.1vw solid rgba(196, 186, 186, 0.301);
    color: white;
    padding: 0.2vw 0.5vw;
    font-size: 4vw;
    border-radius: 0.7vw;
    font-weight: bold;
    margin: 0vw 0.7vw;
    cursor: pointer;
    background: none;
  }

  /* #google_translate_element select:hover {
    border: 0.1vw solid black;
    background: white;
    color: black;
  } */

  #google_translate_element select:active {
    filter: blur(0.5vw);
  }

  #google_translate_element select option {
    color: black;
  }

  #google_translate_element .goog-logo-link {
    display: none;
  }

  #google_translate_element .goog-te-gadget {
    font-size: 0vw;
  }

  .hamburgerBtn{
    border: none;
    outline: none;
    width: 7vw;
    /* height: 10vw; */
    /* background: white; */
    background: none;
    /* border: 1px solid red; */
    /* border-radius: 2vw; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 2vw;
    color: white;
  }

  .hamburgerBtn img{
    transform: rotate(90deg);
    filter: brightness(0) invert(1);
  }

  .moreOptionsOutMobile{
    /* border: 1px solid red; */
    position: fixed;
    top: 15vw;
    right: 2vw;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: #FFFFFF;
    padding: 3vw;
    border-radius: 2vw;
    box-shadow: 0.1vw 0.1vw 1vw rgba(0, 0, 0, 0.2);
    max-height: calc(100vh - 15vw);
    overflow-y: scroll;
    height: 0vw;
    width: 0vw;
    visibility: hidden;
    transition: 0.1s;
  }

  .moreOptionsMobile{
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .moreOptionsImgMobile{
    /* border: 1px solid green; */
    width: 6vw;
    height: 6vw;
  }

  .moreOptionsTextMobile{
    /* border: 1px solid yellow; */
    font-size: 5vw;
    text-decoration: none;
    color: black;
    margin: 2vw 0vw 2vw 2vw;
  }

  .moreOptionsOutMobile #google_translate_element select {
    outline: none;
    /* border: 0.1vw solid rgba(196, 186, 186, 0.301); */
    border: none;
    color: black;
    /* padding: 0.2vw 0.5vw; */
    font-size: 5vw;
    border-radius: 0.7vw;
    /* font-weight: bold; */
    margin: 2vw 0vw 2vw 2vw;
    cursor: pointer;
    background: none;
  }

  /* .moreOptionsOutMobile #google_translate_element select:hover {
    border: 0.1vw solid black;
    background: white;
    color: black;
  } */

  .moreOptionsOutMobile #google_translate_element select:active {
    filter: blur(0.5vw);
  }

  .moreOptionsOutMobile #google_translate_element select option {
    color: black;
  }

  .moreOptionsOutMobile #google_translate_element .goog-logo-link {
    display: none;
  }

  .moreOptionsOutMobile #google_translate_element .goog-te-gadget {
    font-size: 0vw;
  }

}