@media screen and (min-width: 721px) {
  .belowNav {
    /* border: 1px solid red; */
    border-bottom: 0.1vw solid rgba(0, 0, 0, 0.2);
    background: #FFFFFF;
    position: sticky;
    top: 5vw;
    height: 2.5vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
  }

  .belowNavText {
    position: absolute;
    /* top: 0vw; */
    left: 1vw;
    font-size: 1.3vw;
    text-decoration: none;
    font-weight: bold;
    color: black;
  }

  .filterBtnMobile{
    display: none;
  }

  .belowNavImgCont {
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 0.5vw;
  }

  .belowNavImg {
    /* background: url("easyCode1.png") no-repeat;
  background-size: cover; */
    outline: none;
    border: none;
    height: 1.4vw;
    width: 1.4vw;
    margin: 0vw 0.5vw;
    cursor: pointer;
  }

  .belowNavMoreMobile{
    display: none;
  }

  .belowNavImg:hover {
    filter: drop-shadow(0.1vw 0.1vw 0.1vw rgba(0, 0, 0, 0.7));
  }

  .belowNavImg:active {
    filter: blur(0.1vw);
  }

  .belowNavImg1 {
    background: url("../message.svg") no-repeat;
    background-size: 1.4vw 1.4vw;
    background-position: center;
  }

  .belowNavImg2 {
    background: url("../notification.svg") no-repeat;
    background-size: 1.4vw 1.4vw;
    background-position: center;
  }

  .belowNavImg3 {
    background: url("../user.svg") no-repeat;
    background-size: 1.4vw 1.4vw;
    background-position: center;
  }

  .moreOptionsProfileOut{
    /* border: 1px solid red; */
    position: fixed;
    top: 7.5vw;
    right: 2vw;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: #FFFFFF;
    padding: 1.5vw;
    border-radius: 0.5vw;
    box-shadow: 0.1vw 0.1vw 1vw rgba(0, 0, 0, 0.2);
    max-height: calc(100vh - 7.5vw);
    overflow-y: scroll;
    height: 0vw;
    width: 0vw;
    visibility: hidden;
    transition: 0.1s;
  }

  .moreOptionsProfile{
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .moreOptionsImgProfile{
    /* border: 1px solid green; */
    width: 1.3vw;
    height: 1.3vw;
  }

  .moreOptionsTextProfile{
    /* border: 1px solid yellow; */
    font-size: 1.2vw;
    text-decoration: none;
    color: black;
    margin: 0.5vw 0vw 0.5vw 0.5vw;
  }

  .moreOptionsOutMobile{
    display: none;
  }

  .searchOptMobile{
    display: none;
  }
}






















@media screen and (max-width: 720px) {
  .belowNav {
    /* border: 1px solid red; */
    border-bottom: 0.1vw solid rgba(0, 0, 0, 0.2);
    background: #FFFFFF;
    position: sticky;
    top: 15vw;
    width: 100vw;
    height: 12vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
  }

  .belowNavText {
    /* position: absolute; */
    /* top: 0vw; */
    /* left: 1vw;
    font-size: 1.3vw;
    text-decoration: none;
    font-weight: bold;
    color: black; */
    display: none;
  }

  .filterBtnMobile{
    /* height: 8vw; */
    /* border: 0.1vw solid black; */
    background: none;
    outline: none;
    color: black;
    font-size: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 2vw;
    padding: 1vw 2vw;
    border-radius: 2vw;
    font-weight: bold;
    border: none;
  }

  .searchOptMobile{
    display: block;
    background: none;
    outline: none;
    color: black;
    font-size: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 2vw;
    padding: 1vw 2vw;
    border-radius: 2vw;
    font-weight: bold;
    border: none;
  }

  .filterBtnMobile:active{
    filter: blur(0.5vw);
  }

  .filterBtnImgMobile{
    height: 5vw;
    /* margin-right: 1.5vw; */
  }

  .belowNavImgCont {
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 2vw;
  }

  .belowNavImg {
    outline: none;
    border: none;
    height: 6vw;
    width: 6vw;
    margin: 0vw 3vw;
    cursor: pointer;
    background-position: center;
    /* display: none; */
  }

  .belowNavMoreMobile{
    /* border: 1px solid red; */
    border: none;
    outline: none;
    height: 6vw;
    width: 6vw;
    background: url("../more.svg") no-repeat;
    background-size: 6vw 6vw;
    background-position: center;
    transform: rotateZ(90deg);
  }

  .belowNavMoreMobile:active{
    filter: blur(0.5vw);
  }

  /* .belowNavImg:hover {
    filter: drop-shadow(0.1vw 0.1vw 0.1vw rgba(0, 0, 0, 0.7));
  }

  .belowNavImg:active {
    filter: blur(0.1vw);
  } */

  .belowNavImg1 {
    background: url("../message.svg") no-repeat;
    background-size: 6vw 6vw;
  }

  .belowNavImg2 {
    background: url("../notification.svg") no-repeat;
    background-size: 6vw 6vw;
  }

  .belowNavImg3 {
    background: url("../user.svg") no-repeat;
    background-size: 6vw 6vw;
  }

  .moreOptionsOutMobile{
    /* border: 1px solid red; */
    position: fixed;
    top: 26.5vw;
    right: 2vw;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: #FFFFFF;
    padding: 3vw;
    border-radius: 2vw;
    box-shadow: 0.1vw 0.1vw 1vw rgba(0, 0, 0, 0.2);
    max-height: calc(100vh - 26.5vw);
    overflow-y: scroll;
    height: 0vw;
    width: 0vw;
    visibility: hidden;
    transition: 0.1s;
  }

  .moreOptionsMobile{
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .moreOptionsImgMobile{
    /* border: 1px solid green; */
    width: 6vw;
    height: 6vw;
  }

  .moreOptionsTextMobile{
    /* border: 1px solid yellow; */
    font-size: 5vw;
    text-decoration: none;
    color: black;
    margin: 2vw 0vw 2vw 2vw;
  }

  .moreOptionsOutMobile #google_translate_element select {
    outline: none;
    /* border: 0.1vw solid rgba(196, 186, 186, 0.301); */
    border: none;
    color: black;
    /* padding: 0.2vw 0.5vw; */
    font-size: 5vw;
    border-radius: 0.7vw;
    /* font-weight: bold; */
    margin: 2vw 0vw 2vw 2vw;
    cursor: pointer;
    background: none;
  }

  /* .moreOptionsOutMobile #google_translate_element select:hover {
    border: 0.1vw solid black;
    background: white;
    color: black;
  } */

  .moreOptionsOutMobile #google_translate_element select:active {
    filter: blur(0.5vw);
  }

  .moreOptionsOutMobile #google_translate_element select option {
    color: black;
  }

  .moreOptionsOutMobile #google_translate_element .goog-logo-link {
    display: none;
  }

  .moreOptionsOutMobile #google_translate_element .goog-te-gadget {
    font-size: 0vw;
  }

  .moreOptionsProfileOut{
    /* border: 1px solid red; */
    position: fixed;
    top: 26.5vw;
    right: 2vw;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: #FFFFFF;
    padding: 3vw;
    border-radius: 2vw;
    box-shadow: 0.1vw 0.1vw 1vw rgba(0, 0, 0, 0.2);
    max-height: calc(100vh - 26.5vw);
    overflow-y: scroll;
    height: 0vw;
    width: 0vw;
    visibility: hidden;
    transition: 0.1s;
  }

  .moreOptionsProfile{
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .moreOptionsImgProfile{
    /* border: 1px solid green; */
    width: 6vw;
    height: 6vw;
  }

  .moreOptionsTextProfile{
    /* border: 1px solid yellow; */
    font-size: 5vw;
    text-decoration: none;
    color: black;
    margin: 2vw 0vw 2vw 2vw;
  }
}