body{
  /* border: 2px solid red; */
  padding-bottom: 2.5vw;
}
.bottom {
  z-index: 4;
  position: absolute;
}
#copylogo{
  margin-left: 60px;
}
.copyright {
  margin: 0vw 0.5vw;
}

.bottomOptionsOut {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bottomOptions {
  font-size: 1vw;
  text-decoration: none;
  color: black;
  margin: 0vw 0.5vw;
}
@media screen and (max-width: 400px) {
  /* body{
    padding-bottom: 15vw;
  } */
  .justify-content-end{
    justify-content: center !important;
  }

  .bottom {
    height: 2.5vw; 
    /* margin-top: 1vw; */
    z-index: 4;
    margin-top: 50px;
    /* display: none; */
  }

  .copyright {
    margin: 2vw;
  }

  .bottomOptionsOut {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .bottomOptions {
    font-size: 3vw;
    text-decoration: none;
    color: black;
    margin: 2vw 2vw;
  }
}