/* @media screen and (min-width: 721px) { */
  .navBar {
    /* border: 1px solid red; */
    position: fixed;
    width: 100%;
    top: 0vw;
    background: #7D3668;
    height: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
  }

  .navImgOut {
    /* position: absolute; */
    /* top: 0vw; */
    /* left: 1vw; */
    height: 3vw;
    width: 7vw;
    /* width: 4vw; */
    background: white;
    /* border: 0.1vw solid white; */
    padding: 0.1vw 0.5vw;
    border-radius: 1vw;
    margin-left: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
  }

  .navImgOut:hover{
    opacity: 0.85;
  }

  .navImgOut:active{
    filter: blur(0.1vw);
  }

  .navImg {
    height: 100%;
    width: 100%;
    filter: drop-shadow(0.1vw 0.1vw 0.01vw rgba(0, 0, 0, 0.8));
  }
  #sideBarText3:hover{
    cursor: pointer;
  }
  .navBtnCont {
    /* border: 1px solid yellow; */
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 0.5vw;
  }

  .navBtn {
    background: none;
    outline: none;
    border: 0.1vw solid rgba(255, 255, 255, 0.301);
    color: white;
    padding: 0.2vw 0.5vw;
    font-size: 1.2vw;
    border-radius: 0.7vw;
    font-weight: bold;
    margin: 0vw 0.5vw;
    cursor: pointer;
  }

  .hamburgerBtn{
    display: none;
  }

  .navBtn:hover {
    border: 0.1vw solid black;
    background: white;
    color: black;
  }

  .navBtn:active {
    filter: blur(0.1vw);
  }

  #google_translate_element select {
    outline: none;
    border: 0.1vw solid rgba(196, 186, 186, 0.301);
    color: white;
    padding: 0.2vw 0.5vw;
    font-size: 1.2vw;
    border-radius: 0.7vw;
    font-weight: bold;
    margin: 0vw 0.5vw;
    cursor: pointer;
    background: none;
  }

  #google_translate_element select:hover {
    border: 0.1vw solid black;
    background: white;
    color: black;
  }

  #google_translate_element select:active {
    filter: blur(0.1vw);
  }

  #google_translate_element select option {
    color: black;
  }

  #google_translate_element .goog-logo-link {
    display: none;
  }

  #google_translate_element .goog-te-gadget {
    font-size: 0vw;
  }
/* } */













/* @media screen and (max-width: 720px) {
  .navBar {
    position: sticky;
    top: 0vw;
    width: 100vw;
    background: #7D3668;
    height: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
  }

  .navImgOut {
    height: 9vw;
    width: 22vw;
    background: white;
    padding: 0.5vw 2vw;
    border-radius: 3vw;
    margin-left: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .navImg {
    height: 100%;
    width: 100%;
    filter: drop-shadow(0.1vw 0.1vw 0.01vw black);
  }

  .navBtnCont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 2vw;
  }

  .navBtn {
    display: none;
  }

  #google_translate_element select {
    outline: none;
    border: 0.1vw solid rgba(196, 186, 186, 0.301);
    color: white;
    padding: 0.2vw 0.5vw;
    font-size: 4vw;
    border-radius: 0.7vw;
    font-weight: bold;
    margin: 0vw 0.7vw;
    cursor: pointer;
    background: none;
  }

  #google_translate_element select:active {
    filter: blur(0.5vw);
  }

  #google_translate_element select option {
    color: black;
  }

  #google_translate_element .goog-logo-link {
    display: none;
  }

  #google_translate_element .goog-te-gadget {
    font-size: 0vw;
  }

  .hamburgerBtn{
    border: none;
    outline: none;
    width: 10vw;
    height: 8vw;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 2vw;
  }

  .hamburgerLine{
    height: 0.8vw;
    width: 9vw;
    background: white;
    transform-origin: 0 0;
    border-radius: 0.5vw;
  }
} */