body {
      color: #566787;
      background: #f5f5f5;
      font-family: 'Varela Round', sans-serif;
      font-size: 13px;
    }

    .table-responsive {
      margin: 30px 0;
    }

    .table-wrapper {
      min-width: 1000px;
      /* background: #fff; */
      background: #F4F0F0;
      padding: 20px 25px;
      border-radius: 3px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    }

    .table-title {
      padding-bottom: 15px;
      /* background: #299be4; */
      background: #7D3668;
      color: #fff;
      padding: 16px 30px;
      margin: -20px -25px 10px;
      border-radius: 3px 3px 0 0;
    }

    .table-title h2 {
      margin: 5px 0 0;
      font-size: 24px;
    }

    .table-title .btn {
      color: #566787;
      float: right;
      font-size: 13px;
      background: #fff;
      border: none;
      min-width: 50px;
      border-radius: 2px;
      border: none;
      outline: none !important;
      margin-left: 10px;
    }

    .table-title .btn:hover,
    .table-title .btn:focus {
      color: #566787;
      background: #f2f2f2;
    }

    .table-title .btn i {
      float: left;
      font-size: 21px;
      margin-right: 5px;
    }

    .table-title .btn span {
      float: left;
      margin-top: 2px;
    }

    table.table tr th,
    table.table tr td {
      border-color: #e9e9e9;
      padding: 12px 15px;
      vertical-align: middle;
    }

    table.table tr th:first-child {
      width: 60px;
    }

    table.table tr th:last-child {
      width: 105px;
    }

    table.table-striped tbody tr:nth-of-type(odd) {
      background-color: #F4F0F0;
    }

    table.table-striped.table-hover tbody tr:hover {
      background: #f5f5f5;
    }

    table.table th i {
      font-size: 13px;
      margin: 0 5px;
      cursor: pointer;
    }

    table.table td:last-child i {
      opacity: 0.9;
      font-size: 22px;
      /* margin: 0 5px; */
    }

    table.table td a {
      font-weight: bold;
      color: #566787;
      display: inline-block;
      text-decoration: none;
    }

    table.table td a:hover {
      color: #7D3668;
    }

    table.table td a.settings {
      /* color: #2196F3; */
      color: black;
    }

    table.table td a.delete {
      color: #F44336;
    }

    table.table td i {
      font-size: 19px;
    }

    table.table .avatar {
      border-radius: 50%;
      vertical-align: middle;
      margin-right: 10px;
    }

    .status {
      font-size: 30px;
      margin: 2px 2px 0 0;
      display: inline-block;
      vertical-align: middle;
      line-height: 10px;
    }

    .text-success {
      color: #10c469;
    }

    .text-info {
      color: #62c9e8;
    }

    .text-warning {
      color: #FFC107;
    }

    .text-danger {
      color: #ff5b5b;
    }

    .pagination {
      float: right;
      margin: 0 0 5px;
    }

    .pagination li a {
      border: none;
      font-size: 13px;
      min-width: 30px;
      min-height: 30px;
      color: #999;
      margin: 0 2px;
      line-height: 30px;
      border-radius: 2px !important;
      text-align: center;
      padding: 0 6px;
    }

    .pagination li a:hover {
      color: #666;
    }

    .pagination li.active a,
    .pagination li.active a.page-link {
      background: #7D3668;
    }

    .pagination li.active a:hover {
      background: #5f2b4f;
    }

    .pagination li.disabled i {
      color: #ccc;
    }

    .pagination li i {
      font-size: 16px;
      padding-top: 6px
    }

    .hint-text {
      float: left;
      margin-top: 10px;
      font-size: 13px;
      color: #7D3668;
    }

    /* Custom Added */

    .avatar{
      height: 2.5vw;
    }

    .checkBox{
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }

    .checkBox input{
      /* position: absolute;
      left: 0vw; */
      margin: 0vw;
    }


    #userPdf{
      visibility: hidden;
    }


     
.container,.profile{
  border-bottom:  1px solid rgb(49, 0, 49);
  padding: 10px;
}
.profile{
  display:flex !important;
}
.space .all-people ul li a{
  width: 400px;
  text-decoration: none;
  color: black;
  display: flex;
  padding:5px 30px 10px 20px;
  border-bottom: 1px solid rgba(179, 173, 173, 0.795);
  position: relative;
}
.space .all-people ul li a:hover{
  color: rgb(122, 2, 58);
}
.space .all-people{
  overflow-y: scroll;
  max-width: 300px;
  height:400px;
}
.space .all-people ul li .details{
  padding: 0 10px 0px 20px;
}
/*.space .chat-area{
  width: 600px;
}*/
.space .top{
  display: flex;
  margin-left: 30px;
}
/* ::-webkit-scrollbar{
  width: 10px;
} */
.space .bodypart{
  display: flex;
}
#search{
border-radius: 0px;
outline: hidden;
overflow: hidden;
outline:rgb(97, 6, 77);
width: 270px;
padding: 10px;
border: 1px solid rgb(70, 3, 44);
}
.space .top .to-whom {
display: flex;
/*width: 670px;*/
}
.space .top .to-whom .details{
padding: 10px;
}
.chat-area{
position: relative;
min-height: 305px;
max-height: 340px;
width: 500px;
overflow-y: scroll;
padding: 10px 30px 20px 30px;
background: #f7f7f7;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.chat-area .text{
position: absolute;
top: 45%;
left: 50%;
width: calc(100% - 50px);
text-align: center;
transform: translate(-50%, -50%);
}
.chat-area .chat{
margin: 15px 0;
}
.chat-area .chat p{
word-wrap: break-word;
padding: 8px 16px;
box-shadow: 0 0 32px rgb(0 0 0 / 8%),
        0rem 16px 16px -16px rgb(0 0 0 / 10%);
}
.chat-area .outgoing{
display: flex;
}
.chat-area .outgoing .details{
margin-left:auto;
max-width: calc(100% - 130px);
}
.outgoing .details p{
background: rgb(65, 1, 28);
color: #fff;
border-radius: 18px 18px 0 18px;
margin: 5px 0px;
padding: 10px;
width: fit-content;
}
.chat-area .incoming{
display: flex;
align-items:flex-end;
}
.chat-area .incoming .details{
margin-right: auto;
margin-left: 10px;
max-width: calc(100% - 130px);
}
.incoming .details p{
background: rgb(46, 45, 45);
color: rgb(255, 255, 255);
border-radius: 18px 18px 18px 0;
width: fit-content;
padding: 10px;
margin: 5px 0px;
}
.incoming .details time,.outgoing .details time{
  font-size: 15px;
  color: gray;
}
@media  screen and (max-width:900px) {
  .space .chat-area{
    width: 300px !important;
    background-color: white;
  }

}
#leaveChat :hover{
  color: red;
  cursor: pointer;
}
.top .addFrnd a{
  color: #3d0138;
  margin-top: 10px;
}
.top .addFrnd button{
  background:none;
  border: none;
}
.top .addFrnd svg{
  margin-top: 20px;
  color: #3d0138;
}
.main .profile a{
  color: #200116;
}
.main .profile svg{
  margin-top: 20px;
  margin-right: 30px;
}
/*
.typing-area{
  margin-top: -100px;
}*/
.footer .msg{
  padding: 10px;
  border: 1px solid #200116;
  outline: none;
  margin: 10px !important;
  margin-left: 60px !important;
 width: 300px;
  height: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.footer{
  display: flex;
}
.footer .send{
  background: none;
  border: none;
}
.footer .send svg:hover{
  color: #200116;
  
}

.users-list  .online svg{
  color: green;
}

.users-list  .offline svg{
  color: gray;
}
.messages{
  display: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-left: 90px;
  margin-top: 30px;
}
.backtolist a{
  color: black;
}
.backtolist a:hover{
  color: #3d0138;
  cursor: pointer;
}

.backtolist{
  margin-top: 15px;
}

#bzvv:hover{
cursor: pointer;
color: #3d0138;
}
.notify{
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  margin-top: 30px;
}
#alert{
  display: none;
}
.notify h1{
  font-size:25px;
  margin-left:10px;
}
.notify ul li .frist{
  display: flex;
  align-items: center;
}
.notify ul li{
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  margin-top: 7px;
}

.notify .details span{
  margin-left: 10px;
}

.notify .ignore{
  padding:5px;
  background-color:rgb(71, 71, 71);
  color:white;
  border:none;
  outline:none;
  border-radius:5px;
}

.notify .accept{
  padding:5px;
  background-color:purple;
  color:white;
  border:none;
  outline:none;
  margin-left:10px;
  border-radius:5px;
}

.notify h3{
  font-size:15px;
  text-align:center;
  background-color:gray;
  color:white;
  font-weight:100;
  line-height: 30px;
}

.headnav img{
  width: 100px;
  margin-top: -15px;
  margin-left: 60px;
}
.headnav{
  margin: -20px -40px 20px -20px;
  background-color: #5f2b4e;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile_container #targf{
margin-bottom: -5px;
padding: 0px 10px;
}
.profile_container #targf:hover{
 color: #5f2b4e;
}

@media screen and (max-width:420px) {
   .profile_container{
     min-width: 330px;
   }
  .footer .msg{
    width: 250px;
  }
  .profile_container nav ul{
    display: block;
  }
  .profile_container nav ul li a{
    text-align: center;
    padding: 10px;
  }
  #search{
    margin-left: 10px !important;
  }
  
}

.all_users a{
  display: flex;
}

.chatToAdmin{
  margin-left: 16%;
}

.chatToAdmin .user_box{
  background-color: #5f2b45;
}

.chatToAdmin .user_box span{
  color: white;
}

/* ::-webkit-scrollbar{
  width: 10px;
} */

.chat svg{
  margin-top: -15px !important;
}