@media screen and (min-width: 721px) {
  .bottom {
    border: 0.1vw solid rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 2.5vw;
    /* margin-top: 1vw; */
    font-size: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    margin-bottom: 0vw;
    position: fixed;
    bottom: 0vw;
    z-index: 4;
  }

  .copyright {
    margin: 0vw 0.5vw;
  }

  .bottomOptionsOut {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .bottomOptions {
    font-size: 1vw;
    text-decoration: none;
    color: black;
    margin: 0vw 0.5vw;
  }
}

@media screen and (max-width: 720px) {
  .bottom {
    border: 0.1vw solid rgba(0, 0, 0, 0.2);
    /* height: 2.5vw; */
    /* margin-top: 1vw; */
    font-size: 3vw;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    position: fixed;
    bottom: 0vw;
    width: 100%;
    z-index: 4;
    /* display: none; */
  }

  .copyright {
    margin: 2vw;
  }

  .bottomOptionsOut {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .bottomOptions {
    font-size: 3vw;
    text-decoration: none;
    color: black;
    margin: 2vw 2vw;
  }
}