/* dark #200116 */
@media screen and (min-width: 721px) {

  button {
    cursor: pointer;
  }

  select {
    cursor: pointer;
  }

  select:hover {
    background: #2001163a;
  }

  a:hover {
    color: #200116a6;
  }

  a:active {
    filter: blur(0.1vw);
  }

  .contentOut {
    /* border: 1px solid blue; */
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    width: 70vw;
    margin-left: 26.35vw;
    min-height: calc(100vh - 10vw);
  }

  .content {
    /* border: 1px solid red; */
    position: relative;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    /* width: 70vw; */
    /* height: 70vw; */
    /* margin: 0vw 1vw; */
    /* width: 100%; */
    /* min-height: calc(100vh - 10vw); */
  }

  .filterBarOut {
    position: sticky;
    top: 7.5vw;
    background: #F8F8F8;
    /* border: 0.1px solid green; */
    height: 3.5vw;
    width: 70vw;
    /* padding-top: 1vw; */
    border-radius: 0vw 0vw 0.5vw 0.5vw;
    z-index: 2;
  }

  .filterBar {
    position: absolute;
    bottom: 0vw;
    background: #7D3668;
    width: 70vw;
    height: 3vw;
    border-radius: 0.5vw;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .filterText {
    color: white;
    font-size: 1.2vw;
  }

  .filterText1 {
    /* position: absolute;
  left: 1vw; */
    margin-left: 1vw;
  }

  .filterBarRightOut {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1vw;
  }

  .filterText2 {
    margin-right: 1vw;
  }

  .filterImgBack {
    width: 2vw;
    height: 2vw;
    /* margin-right: 1vw; */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 1vw;
    /* background: url("filterBack.png") no-repeat;
  background-size: cover; */
    /* border: 1px solid blue; */
  }

  .filterImg {
    width: 1.3vw;
    height: 1.3vw;
    /* margin: 0vw 1vw; */
    background: url("../harsh1/filter.svg") no-repeat;
    background-size: 1.3vw 1.3vw;
    background-position: center;
    outline: none;
    border: none;
    cursor: pointer;
    /* border: 1px solid green; */
  }

  .filterImg:hover {
    filter: drop-shadow(0.1vw 0.1vw 0.1vw rgba(0, 0, 0, 0.7));
  }

  .filterImg:active {
    filter: blur(0.1vw);
  }

  .cardTopSpaceAdjust{
    width: 100%;
    height: 1vw;
    /* display: none; */
    /* border: 1px solid red; */
  }

  .card {
    position: relative;
    /* border: 0.1vw solid rgba(0, 0, 0, 0.5); */
    width: 25vw;
    /* height: 8vw; */
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 0.5vw;
    margin: 1vw 0vw 1vw 0vw;
    /* float: left; */
    /* background: linear-gradient(to right, rgb(248,248,247), rgb(255,240,242)); */
    background: #FFFFFF;
    box-shadow: 0.1vw 0.1vw 3vw rgba(0, 0, 0, 0.03);
    /* border: 0.4vw solid rgba(0, 0, 0, 0.08); */
  }

  .cardImg {
    /* border: 1px solid red; */
    position: absolute;
    left: 1vw;
    height: 7vw;
    width: 7vw;
    /* border: 0.1vw solid rgba(0, 0, 0, 0.5); */
    border-radius: 0.5vw;
    /* margin: 1vw 0vw 1vw 1vw; */
    box-shadow: 0.1vw 0.1vw 2vw rgba(0, 0, 0, 0.05);
    z-index: 1;
  }

  .cardTextOut {
    position: relative;
    /* border: 1px solid blue; */
    /* width: 21.5vw; */
    width: 15vw;
    /* height: 7vw; */
    margin: 0.5vw 1vw 0.8vw 1vw;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
  }

  .cardText {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 1vw;
    font-weight: bold;
    margin: 0.1vw 0vw;
    /* transform: translateY(-0.2vw); */
    width: 100%;
  }

  .cardLightText{
    color: rgba(0, 0, 0);
    font-weight: normal;
  }

  .cardText1{
    /* border: 0.1vw solid #200116; */
    width: 100%;
    font-size: 1.05vw;
    font-weight: bold;
    /* margin-bottom: 0.3vw; */
    /* background: linear-gradient(to right, rgb(88,1,59), rgb(128,1,96)); */
    /* background: linear-gradient(to right,#a7acd9,#9e8fb2); */
    background: #20011679;
    /* background: rgba(0, 0, 0, 0.4); */
    color: white;
    border-radius: 0.5vw 0.5vw 0.3vw 0.3vw;
    padding: 0.5vw 1vw 0.5vw 9vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: none;
    outline: none;
    box-shadow: 0.1vw 0.1vw 2vw rgba(0, 0, 0, 0.05);
  }

  .cardText1Text{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cardText4{
    width: 50%;
  }
  .cardText5{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  /* .cardMoreOutTest{
    position: absolute;
    right: 0vw;
    top: 1vw;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 7vw;
  } */

  .cardMoreOut {
    /* position: absolute;
    bottom: 0vw; */
    /* border: 1px solid red; */
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    margin-top: 0.5vw;
    /* height: 1.5vw; */
  }

  .cardMoreOutMobile{
    display: none;
  }

  .cardMore1 {
    /* background: #66C051; */
    /* background: linear-gradient(to right, rgb(5,52,32), rgb(4,192,82)); */
    background: linear-gradient(to right, rgb(67,4,39), rgb(128,1,96));
    /* background: #200116ce; */
    /* background: rgba(0, 0, 0, 0.7); */
    outline: none;
    border: 0.1vw solid white;
    /* border: none; */
    position: absolute;
    right: 0vw;
    padding: 0.1vw 1.1vw;
    font-size: 0.9vw;
    color: white;
    /* height: 1.2vw; */
    border-radius: 0.3vw;
    cursor: pointer;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.1vw 0.1vw 1vw rgba(0, 0, 0, 0.05);
    margin-right: -0.1vw;
  }

  .cardMore1:hover {
    border: 0.1vw solid black;
    color: black;
    background: none;
  }

  .cardMore1:active {
    filter: blur(0.1vw);
  }

  .cardMore {
    /* border: 1px solid red; */
    /* background: url("easyCode1.png") no-repeat;
  background-size: cover; */
    outline: none;
    border: none;
    /* background: #20011659; */
    background: rgba(0, 0, 0, 0.3);
    /* height: 1.8vw;
  width: 1.8vw; */
    /* margin-left: 1.5vw; */
    cursor: pointer;
    background-size: 1.2vw 1.2vw;
    height: 1.2vw;
    width: 1.2vw;
  }

  .cardMore:hover {
    filter: drop-shadow(0.1vw 0.1vw 0.1vw rgba(0, 0, 0, 0.7));
  }

  .cardMore:active {
    filter: blur(0.1vw);
  }

  .cardMore2 {
    /* border: 1px solid red; */
    /* background: url("like.svg") no-repeat;
    background-position: center; */
    margin-right: 1.5vw;
    /* height: 1.2vw;
    width: 1.2vw; */
    -webkit-mask: url("../harsh1/like.svg") no-repeat center;
    mask: url("../harsh1/like.svg") no-repeat center;
  }

  .cardMore3 {
    /* border: 1px solid red; */
    /* transform: rotateX(180deg); */
    /* background: url("dislike.svg") no-repeat;
    background-position: center; */
    margin-right: 1.5vw;
    /* height: 1.4vw;
    width: 1.4vw; */
    -webkit-mask: url("../harsh1/dislike.svg") no-repeat center;
    mask: url("../harsh1/dislike.svg") no-repeat center;
  }

  .cardMore4 {
    /* border: 1px solid red; */
    /* background: url("flag.svg") no-repeat;
    background-position: center; */
    margin-right: 1.5vw;
    /* height: 1.4vw;
    width: 1.4vw; */
    -webkit-mask: url("../harsh1/flag.svg") no-repeat center;
    mask: url("../harsh1/flag.svg") no-repeat center;
  }

  .partition {
    /* border: 1px solid red; */
    width: 7vw;
    height: 8vw;
    margin: 0.3vw 0vw;
    float: left;
    display: none;
  }

  #filterOpen {
    z-index: 2;
    background: white;
    /* display: none; */
    /* border: 1px solid red; */
    visibility: hidden;
    /* visibility: visible; */
    width: 70vw;
    height: 0vw;
    /* height: 20vw; */
    position: sticky;
    top: 11vw;
    transition: 0.1s;
    border-bottom: 0.1vw solid rgba(0, 0, 0, 0.2);
  }

  .filterOptionOut {
    /* border: 1px solid blue; */
    border-bottom: 0.1vw solid rgba(0, 0, 0, 0.2);
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 6vw;
  }

  .filterOption {
    /* border: 1px solid green; */
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    width: 14vw;
    height: 6vw;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 0.5vw 0.5vw 0vw 0vw;
  }

  .filterOption:hover {
    /* border-bottom: 0.1vw solid rgba(128, 0, 128, 0.5); */
    background: #2001163a;
    /* color: #7D3668; */
  }

  .filterOption:active {
    filter: blur(0.1vw);
  }

  /* .filterOption1 {
  border-bottom: 0.2vw solid purple;
} */

  .filterOptionImg {
    /* border: 1px solid red; */
    width: 2.5vw;
    height: 2.5vw;
    background-color: rgba(0, 0, 0, 0.8);
    /* border: 0.1vw solid rgba(0, 0, 0, 0.5); */
    /* border-radius: 0.5vw; */
  }

  .filterOptionImg1 {
    -webkit-mask: url("../harsh1/basic.svg") no-repeat center;
    mask: url("../harsh1/basic.svg") no-repeat center;
  }

  .filterOptionImg2 {
    -webkit-mask: url("../harsh1/looks.svg") no-repeat center;
    mask: url("../harsh1/looks.svg") no-repeat center;
  }

  .filterOptionImg3 {
    -webkit-mask: url("../harsh1/personBackground.svg") no-repeat center;
    mask: url("../harsh1/personBackground.svg") no-repeat center;
  }

  .filterOptionImg4 {
    -webkit-mask: url("../harsh1/lifestyle.svg") no-repeat center;
    mask: url("../harsh1/lifestyle.svg") no-repeat center;
  }

  .filterOptionImg5 {
    -webkit-mask: url("../harsh1/more.svg") no-repeat center;
    mask: url("../harsh1/more.svg") no-repeat center;
  }

  .filterOptionText {
    font-size: 1.2vw;
    margin-top: 0.8vw;
  }

  .filterSubmit {
    position: absolute;
    right: 0.5vw;
    bottom: 0.5vw;
    background: linear-gradient(to right, rgb(67,4,39), rgb(128,1,96));
    padding: 0.4vw 0.8vw;
    font-size: 1.1vw;
    color: white;
    border: 0.1vw solid white;
    /* border: none; */
    border-radius: 0.5vw;
    cursor: pointer;
  }

  .filterSubmit:hover {
    border: 0.1vw solid black;
    color: black;
    background: white;
  }

  .filterSubmit:active {
    filter: blur(0.1vw);
  }

  .filterOptionDetailsOut {
    /* border: 1px solid red; */
    position: relative;
    height: 13vw;
    width: 70vw;
  }

  .filterOptionDetails {
    /* border: 1px solid blue; */
    position: absolute;
    top: 0vw;
    left: 0vw;
    height: 13vw;
    width: 70vw;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .basicOptionsOut {
    /* border: 1px solid green; */
    width: 23vw;
    height: 13vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    /* margin: 0.5vw 0vw; */
    /* border-left: 0.1vw solid rgba(0, 0, 0, 0.5); */
  }

  .basicOptionsHeading {
    font-size: 1.3vw;
    font-weight: bold;
    margin: 0.5vw;
    margin-top: 0.7vw;
  }

  .gender {
    text-decoration: none;
    font-size: 1.2vw;
    margin: 0.5vw;
    color: black;
  }

  .selectAge {
    outline: none;
    border: none;
    background: rgba(233, 233, 233, 0.8);
    font-size: 1.2vw;
    border-radius: 2vw;
    padding: 0.4vw 0.7vw;
    margin: 0.2vw;
  }

  .rangeValueOut {
    margin: 0.5vw;
  }

  .rangeValue {
    /* margin: 0.5vw; */
    font-size: 1.2vw;
    /* border: 1px solid rebeccapurple; */
  }

  .rangeSlider {
    background: rgb(209, 209, 209);
    appearance: none;
    outline: none;
    height: 0.2vw;
    width: 15vw;
    border-radius: 1vw;
    margin: 0.5vw;
    cursor: pointer;
  }

  .rangeSlider:hover {
    background: #2001163a;
  }

  .rangeSlider::-webkit-slider-thumb {
    appearance: none;
    width: 0.8vw;
    height: 0.8vw;
    border-radius: 50%;
    background: #200116;
  }

  .looksOptionsOut {
    /* border: 1px solid red; */
    width: 34.5vw;
    height: 13vw;
  }

  .selectHeight {
    outline: none;
    border: none;
    background: rgba(233, 233, 233, 0.8);
    font-size: 1.2vw;
    border-radius: 2vw;
    padding: 0.4vw 0.7vw;
    margin: 0.2vw;
  }

  /* .bodyType {
  border: 1px solid red;
  margin: 0.5vw;
} */

  .bodyTypeOption {
    /* border: 1px solid green; */
    text-decoration: none;
    font-size: 1.2vw;
    color: black;
    margin: 0.5vw 2vw 0.5vw 0.5vw;
    /* float: left; */
  }

  .backgroundOptionsOut1 {
    /* border: 1px solid red; */
    width: 30vw;
    height: 13vw;
  }

  .backgroundOptionsOut2 {
    /* border: 1px solid red; */
    width: 39vw;
    height: 9.5vw;
    margin-top: 0.5vw;
    box-shadow: 0.1vw 0.1vw 0.5vw rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .selectLanguage {
    outline: none;
    border: none;
    background: rgba(233, 233, 233, 0.8);
    font-size: 1.2vw;
    border-radius: 2vw;
    padding: 0.4vw 0.7vw;
    margin: 0.2vw;
  }

  .backgroundDetailsRightSide {
    font-size: 1.3vw;
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin: 0.5vw;
  }
}
























/* Sangameshwar */
/*
.container,.profile{
  border-bottom:  1px solid rgb(49, 0, 49);
  padding: 10px;
}
.profile{
  display:flex !important;
}
.space .all-people ul li a{
  width: 400px;
  text-decoration: none;
  color: black;
  display: flex;
  padding:5px 30px 10px 20px;
  border-bottom: 1px solid rgba(179, 173, 173, 0.795);
  position: relative;
}
.space .all-people ul li a:hover{
  color: rgb(122, 2, 58);
}
.space .all-people{
  overflow-y: scroll;
  max-width: 300px;
  height:400px;
}
.space .all-people ul li .details{
  padding: 0 10px 0px 20px;
}
.space .chat-area{
  width: 600px;
}
.space .top{
  display: flex;
}
::-webkit-scrollbar{
  width: 10px;
}
.space .bodypart{
  display: flex;
}
#search{

margin:10px 5px;
border-radius: 0px;
outline: hidden;
overflow: hidden;
outline:rgb(97, 6, 77);
width: 270px;
padding: 10px;
border: 1px solid rgb(70, 3, 44);
}
.space .top .to-whom {
display: flex;
width: 670px;
}
.space .top .to-whom .details{
padding: 10px;
}
.chat-area{
position: relative;
min-height: 300px;
max-height: 340px;
width: 300px;
overflow-y: auto;
padding: 10px 30px 20px 30px;
background: #f7f7f7;
box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%),
        inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
}
.chat-area .text{
position: absolute;
top: 45%;
left: 50%;
width: calc(100% - 50px);
text-align: center;
transform: translate(-50%, -50%);
}
.chat-area .chat{
margin: 15px 0;
}
.chat-area .chat p{
word-wrap: break-word;
padding: 8px 16px;
box-shadow: 0 0 32px rgb(0 0 0 / 8%),
        0rem 16px 16px -16px rgb(0 0 0 / 10%);
}
.chat-area .outgoing{
display: flex;
}
.chat-area .outgoing .details{
margin-left:auto;
max-width: calc(100% - 130px);
}
.outgoing .details p{
background: rgb(65, 1, 28);
color: #fff;
border-radius: 18px 18px 0 18px;
margin: 5px 0px;
padding: 10px;
width: fit-content;
}
.chat-area .incoming{
display: flex;
align-items:flex-end;
}
.chat-area .incoming .details{
margin-right: auto;
margin-left: 10px;
max-width: calc(100% - 130px);
}
.incoming .details p{
background: rgb(46, 45, 45);
color: rgb(255, 255, 255);
border-radius: 18px 18px 18px 0;
width: fit-content;
padding: 10px;
margin: 5px 0px;
}
.incoming .details time,.outgoing .details time{
  font-size: 15px;
  color: gray;
}
@media  screen and (max-width:900px) {
  .space .chat-area{
    width: 300px !important;
  }

}
#leaveChat :hover{
  color: red;
  cursor: pointer;
}
.top .addFrnd a{
  color: #3d0138;
  margin-top: 10px;
}
.top .addFrnd button{
  background:none;
  border: none;
}
.top .addFrnd svg{
  margin-top: 20px;
  color: #3d0138;
}
.main .profile a{
  color: #200116;
}
.main .profile svg{
  margin-top: 20px;
  margin-right: 30px;
}

.typing-area{
  margin-top: -100px;
}
.footer .msg{
  padding: 10px;
  border: 1px solid #200116;
  outline: none;
  margin: 10px !important;
  margin-left: 100px;
  height: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.footer{
  display: flex;
}
.footer .send{
  margin-left: 50px;
  background: none;
  border: none;
}
.footer .send svg:hover{
  color: #200116;
  
}

.users-list  .online svg{
  color: green;
}

.users-list  .offline svg{
  color: gray;
}
.messages{
  display: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-left: 90px;
  margin-top: 30px;
}
.backtolist a{
  color: black;
}
.backtolist a:hover{
  color: #3d0138;
  cursor: pointer;
}

.backtolist{
  margin-top: 15px;
}
#textbox,#receiver{
  display: none;
}

#bzvv:hover{
cursor: pointer;
color: #3d0138;
}
.notify{
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  margin-top: 30px;
}
#alert{
  display: none;
}
.notify h1{
  font-size:25px;
  margin-left:10px;
}
.notify ul li .frist{
  display: flex;
  align-items: center;
}
.notify ul li{
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  margin-top: 7px;
}

.notify .details span{
  margin-left: 10px;
}

.notify .ignore{
  padding:5px;
  background-color:rgb(71, 71, 71);
  color:white;
  border:none;
  outline:none;
  border-radius:5px;
}

.notify .accept{
  padding:5px;
  background-color:purple;
  color:white;
  border:none;
  outline:none;
  margin-left:10px;
  border-radius:5px;
}

.notify h3{
  font-size:15px;
  text-align:center;
  background-color:gray;
  color:white;
  font-weight:100;
  line-height: 30px;
}

.belowNavImgCont a{
  color: black;
}*/